<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042271659163-3gd15lvp4eelpqdiv9qjl9rpiiuqht5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042271659163-3gd15lvp4eelpqdiv9qjl9rpiiuqht5v</string>
	<key>API_KEY</key>
	<string>AIzaSyBnJmxOQbhspzuR2XYccr4lXPU6ydkU1gA</string>
	<key>GCM_SENDER_ID</key>
	<string>1042271659163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.macos.iMessage</string>
	<key>PROJECT_ID</key>
	<string>imessage-faa28</string>
	<key>STORAGE_BUCKET</key>
	<string>imessage-faa28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042271659163:ios:263f2853dd13aab53c123e</string>
	<key>DATABASE_URL</key>
	<string>https://imessage-faa28.firebaseio.com</string>
</dict>
</plist>